DATABASE_URL="postgresql://portfolio_db_g5ia_user:CJM0T3ECBxaH3rNa8PnhiBn7IDQcOLCk@dpg-d4qa2rali9vc739qh1cg-a/portfolio_db_g5ia"
FRONTEND_URL="https://my-portfolio-two-omega-20.vercel.app/"
PYTHON_VERSION=3.11.9

TELEGRAM_BOT_TOKEN="your_bot_token_here"
TELEGRAM_CHAT_ID="your_chat_id_here"
FRONTEND_URL=<leave as is if used>
